#menu{
    border-top-style: solid;
    border-bottom-style: solid;
}

#landingpg{
    padding-left: 200px;
}

#about{
    padding-left: 200px;
}

#contacto{
    padding-left: 200px;
}

#formulario{
    padding-left: 200px;
}
#top{
    text-align: center;
}

#siguenos_en{
    text-align: center;
    padding-top: 20px;
    border-top-style: solid;
}

.logos{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#instagram{
    padding-left: 20px;
    padding-right: 20px;
}

#info_div{
    display: inline-flex;
    flex-direction:row;
}
#local_photos{
    display: inline-flex;
    flex-direction:row;
}
.local_photo{
    height: 600px;
    width: 33.33%;
}