@import 'colors.css';
#menu{
    background-color: #ee4242;
    font-style: bold;
    font-size: 20px;
    color: black;
}

#landingpg{
    padding-left: 200px;
}

#about{
    padding-left: 200px;
}

#contacto{
    padding-left: 200px;
}

#formulario{
    padding-left: 200px;
}
#top{
    text-align: center;
}

#siguenos_en{
    text-align: center;
    padding-top: 20px;
    border-top-style: solid;
}

.logos{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#instagram{
    padding-left: 20px;
    padding-right: 20px;
}

#info_div{
    display: inline-flex;
    flex-direction:row;
}
#local_photos{
    display: inline-flex;
    flex-direction:row;
}
.local_photo{
    position: center;
    height: 600px;
    width: 1000px;
    border-left:1000px;
    margin-left: 420px;
    padding: 50px;
    justify-content: center;
}
.contact_info{
    font-family: Arial, Helvetica, sans-serif;
    color:blue
}