#logo{
    padding-left: 485px;

}

#menu{
    border-top-style: solid;
    border-bottom-style: solid;
}

#landingpg{
    padding-left: 200px;
}

#about{
    padding-left: 200px;
}

#contacto{
    padding-left: 200px;
}

#formulario{
    padding-left: 200px;
}