

#logo{
    padding-left: 485px;

}

#menu{
    border-top-style: solid;
    border-bottom-style: solid;
}

#landingpg{
    padding-left: 200px;
}

#about{
    padding-left: 200px;
}

#contacto{
    padding-left: 200px;
}

#formulario{
    padding-left: 200px;
}

#vehiculos_disp{
    text-align: center;
}

figure{
    display: inline-flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
}

figcaption{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid;
}

.line1{
    text-align: center;
}

