@import 'colors.css';
@import 'globalRules.css';
#top{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#landingpg{
    padding-left: 200px;
}

#about{
    padding-left: 200px;
}

#contacto{
    padding-left: 200px;
}

#formulario{
    padding-left: 200px;
}

#vehiculos_disp{
    text-align: center;
}

figure{
    display: inline-flex;
    flex-direction: column;

}

figcaption{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid;
    border-width: 1px; 
    color: var(--gris-principal);
    border-color: var(--rojo-principal);
}

.line{
    text-align: center;
}

.logos{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#instagram{
    padding-left: 20px;
    padding-right: 20px;
}

.car :hover{
    scale: 1.2;
}

figure{
    transition: transform 0.3s ease;
}
  
figure:hover {
    transform: scale(1.1);
}
.vinc{
    color :red;
}
#cars{
    background-color: var(--gris-oscuro);
    background-image: linear-gradient(to bottom, var(--negro-principal), var(--gris-oscuro));
}
#random_line{
    color: var(--rojo-principal);
}

#main_car{
    max-width: 100%;
}