

#logo{
    padding-left: 485px;

}

#menu{
    border-top-style: solid;
    border-bottom-style: solid;
}

#landingpg{
    padding-left: 200px;
}

#about{
    padding-left: 200px;
}

#contacto{
    padding-left: 200px;
}

#formulario{
    padding-left: 200px;
}

#vehiculos_disp{
    text-align: center;
}

figure{
    display: inline-flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
}

figcaption{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid;
}

.line1{
    text-align: center;
}

.line2{
    text-align: center;
}

.line3{
    text-align: center;
}

.line4{
    text-align: center;
}

.line5{
    text-align: center;
}

.line6{
    text-align: center;
}

.line7{
    text-align: center;
}

.line8{
    text-align: center;
}

.line9{
    text-align: center;
}

#siguenos_en{
    text-align: center;
    padding-top: 20px;
    border-top-style: solid;
}

.logos{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#instagram{
    padding-left: 20px;
    padding-right: 20px;
}